.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(335deg,#f386c0,#ff8f7d);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: relative;
  width: 768px;
  height: 818px;
  border-radius: 60px;
  background: linear-gradient(30deg,#1f1f32,#171822);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}