.favoriteList {
  padding: 20px 35px;
  flex-grow: 1;
  overflow-y: auto;
}

.favoriteList::-webkit-scrollbar {
  display: none;
}

.favorites {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.noFavorite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color:#ffffff;
  font-size: 22px;
}