.searchHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0 0;
  background-color: #171822;
}

.searchForm {
  position: relative;
  border-radius: 13px;
}

.searchInput {
  width: 450px;
  height: 50px;
  padding: 0 15px 0 45px;
  border-radius: 4px;
  font-size: 18px;
}

.searchIcon {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

@media (max-width: 600px) {
  .searchInput {
    width: 110%;
  }
}