.searchResults {
  padding: 20px 35px;
  flex-grow: 1;

  overflow-y: auto;
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.noMovie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 22px;
}
